body {
    display:grid;
    
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: center;
    padding-left: 15rem;
    background-image: url(background.jpg);
    background-size: 120rem;
   
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    position: absolute;

}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    border-top: 5px solid white;
    border-left: 5px solid white;
    height: 30.95rem;
    width: 30.95rem;
    align-items: center;
    margin-bottom: 0;
    margin-top: -13rem;
    margin-left: 16.25rem;
    

 

    
}


.box {
    display:grid;
    border: 5px solid white;
    border-left: none;
    border-top: none;
    background-color:rgb(204, 171, 128);
    height: 10rem;
    width: 10rem;
    font-size: 10px;
    justify-content: center;
    align-items: start;
    
    
  

}

.choice {
    display: grid;
 

    width: 35rem;
    height: 5.5em;
    grid-template-columns: repeat(2, 1fr);
 
    justify-content: center;
    margin-left: 83rem;
    background-color:rgb(204, 171, 128);
    border-radius: 5rem;
   
    
    
   
}

#choiceX,
#choiceO {
    border: 5px solid white;
    height: 5rem;
    display: grid;
    justify-content: center; 
    align-items: center;

    
    
    
}

#choiceX {
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
    border-right: none; 
}

#choiceO {
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
   
}





.reset {
    border-radius: 5rem;
    border-style: none;
    outline: 3px solid white;
    height: 5rem;
    margin-bottom: 8rem;
    font-size: 3rem;
    color: white;
    font-weight:900;
    background-color: rgb(150, 29, 29);
   
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10rem;
    margin-top: 5rem;
    margin-right: 65rem;
    
}

.header {
    display: grid;
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    border-style: solid;
    border-color:white;
    background-color: rgb(150, 29, 29);
    justify-content: center;
    border-radius: 5rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    margin-bottom: 0px;
    margin-left: 10rem;
    margin-right: 65rem;
    margin-top: 5rem;
}

.chosen {
    background-color:rgb(150, 29, 29);
}

.clicked {
    background-color: grey;
    transition-duration: 0.13s;
}

.banana,
.grape {
    height: 65px;
    width: 65px;
    
    display: grid;
    justify-content: center;
    align-items: center;

}

.AIfruit  {
    animation: fadeIn 1.5s;
    -webkit-animation: fadeIn 1.5s;
    -moz-animation: fadeIn 1.5s;
    -o-animation: fadeIn 1.5s;
    -ms-animation: fadeIn 1.5s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.choice {
   
    display: grid;
    color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
}

.subchoice text {
    position: absolute;
}

audio {
    margin-left: 83rem;
    margin-top: -20rem;
    background-color: tan;
    border-radius: 5rem;
    height: 80px;
    border: 5px solid white;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
    width: 33rem;
}

.difficulty {
    margin-left: 83rem;
    margin-top: -4rem;
    border: 5px solid white;
    border-radius: 5rem;
    background-color:tan;
    height: 60px;
    width: 33rem;
    padding-left: 10px;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;

}

select {
    font-family: 'Courier New', Courier, monospace;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.choiceLabel {
    margin-top: 7rem;
    margin-left: 83rem;
    border: 5px solid white;
    background-color: tan;
    border-radius: 5rem;
    height: 55px;
    font-size: 15px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding-left: 20px;
    margin-bottom: 10px;
    align-items: center;
    display: grid;
}

